header{
    background-color: blanchedalmond;
    grid-area: header;
    height: 75px;
    margin-bottom: 5px;
    padding: 15px;
    width: auto ;

}

body{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

main{
    align-content: center;
    grid-area: main;
    justify-content: center;
}

footer{
    background-color: blanchedalmond;
    grid-area: footer;
    height: 75px;
    margin-bottom: 5px;
    padding: 15px;
    width: auto ;

}

.card-title{
    text-align: center;
    font-weight: bold;
}

.header-title{
    text-align: center;
}

.footer-title{
    text-align: center;
}

.cards-container{
    background-color: dodgerblue;
    display: grid;
    grid-area: main;
    height: auto;
    gap: 10px 10px;
    grid-template:
    [row1-start] "header" auto [row1-end]
    [row2-start] "main" auto [row2-end]
    / auto auto auto auto auto;
    place-items: center;
    padding-top: 20px;
    width: auto; 
}
.card-item{
    background-color: azure;
    height: 80%;
    margin: 1%;
    padding: 5%;
    width: 80%;
}
.first-card{
    justify-self: center;
    align-self: center;
}
.card-paragraph{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}